<header class="site-header">
  <div class="site-header__inner">
    <a class="brand" href="/">Jardin Sans Gaspillage</a>
    <nav class="nav" aria-label="Navigation principale">
      <a href="/recuperation-eau/">Récupération d'eau</a>
      <a href="/arrosage-econome/">Arrosage économe</a>
      <a href="/jardin-sec/">Jardin sec</a>
      <a href="/comparatifs/meilleur-recuperateur-eau-pluie/">Comparatifs</a>
      <a href="/outils/calculateur-taille-cuve/">Outils</a>
    </nav>
  </div>
</header>
